body {
    display: flex;
    margin: 0;
    height: 100vh;
}

@keyframes fadePageToBlack {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadePageToNormal {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.FadePageBlack {
    animation: fadePageToBlack 5s forwards;
}

.fadeToNoraml {
    animation: fadePageToNormal 5s forwards;
}

#firstPage {
    background-image: url("../images/SubFinish.png");

    background-size: cover;

    min-height: 100vh;
    width: 100%;
    font-family: titleFont;
    padding: 80px 40px;
    display: flex;
    justify-content: end;

}

#firstPageLogo {
    width: 336px;
    height: 183px;
    display: block;
}

.firstPageButtons {
    color: #A2844F;
    font-size: 36px;
    font-weight: 400;
    background: none;
    border: 0;
}

#firstPageItemContainer {
    
    display: flex;
    flex-direction: column;
    width: 336px; 
    gap: 20px;
}

#landingPageContainer {
    padding: 40px;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 6vh;

    background-image: url("../images/landingPageBackground.png");
    background-size: cover;
}

#topSectionLandingPage {
    height: 34vh;
    background-color: aqua;
}

#bottomSectionLandingPage {
    height: 50vh;
    width: 50%;
    background-image: url("../images/scoreaboardBackground.png");
    background-position: center;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

#disciplineButtons {
    display: flex;
    gap: 20px;
    height: 10%;
    margin-bottom: 20px;
}

.disciplineButton {
    flex-grow: 1;
    height: 100%;
    border: 1px solid #A2844F;
    border-radius: 5px;
    color: white;
    background-color: #0B1422;
}

.disciplineButton:hover {
    cursor: pointer;
    opacity: 0.5;
}

#calcRatesButton {
    background-color: #A2844F;
    color: #0B1422;
}

#scoreboardContainer {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#scoreboardBottomSection {
    display: flex;
    flex: 1;
    min-height: 0;
}

#scoreboardSeasonContainer {
    width: calc((100% - 100px) / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 2.5%;
    background-color: #0B1422;
    border: 1px solid #A2844F;
    border-radius: 5px;
    min-height: 0;
}

#scoreboardScrollContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    overflow-y: scroll;
    padding: 10px;
}

#scoreboardSeasonContainer p{
    padding: 0px 0px 5px 0px;
    margin: 0px;
    color: #A2844F;
    border-bottom: 1px solid #A2844F;

}

#scoreboardStatsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#scoreboardListingTitles {
    display: flex;
    justify-content: space-between;
    color: #A2844F;
    margin: 10px 50px 30px 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A2844F;
}

.seasonButton {
    width: 100%;
    box-sizing: border-box;
    background-color: #0B1422;
    color: white;
    border: 1px solid #A2844F;
    flex-grow: 1;
    border-radius: 5px;
}

.seasonButton:hover {
    cursor: pointer;
    opacity: 0.5;
}

#creatureScoreboardStats {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: scroll;
    flex: 1;
}

.creatureScoreboard {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 0px 50px 30px 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A2844F33;
}

.creatureScoreboard p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.clickedDisciplineAndButton {
    color: #FFA300;
    background-color: #00173A;
    border: 1px solid #FFA300;
    box-shadow: 0 0 5px white;
}

