
#specialtyContainer {
    height: 290px;
    width: 500px;
    border-radius: 20px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    border: 5px solid #896241
    
}

#monsterPic {
    background: rgba(11, 20, 34, 0.76);
}

#rates{
    background-image: url(../images/scoreaboardBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
    display: grid;
    grid-template-rows: 1fr 60px 1fr;
}

#rates div{
    border-bottom: 2px solid #896241
}


.child{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0 15px 0 15px;

}

.child p{
    color: rgba(250, 223, 138, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.child img{
    width: 110px;
    position: relative;
}

#smallRanking{
      font-size: 16px;
      position: absolute;
      left: 431px;
      color: white;
      top: 34px;
}

#monsterPic{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#monsterPic p{
    color: #C2AD89;
    text-align: center;
    font-size: 30px;
    font-weight: 400;

}

#smallMonsterPic img{
    position: absolute;
    width: 90px;
    bottom: 70px;
    left: 77px;
}


div #winRate {
    flex-direction: column;
    align-self: center;
    border-bottom: 0px;
}

#winRate p {
    margin: 0;
    font-size: 14px;
}

#procentualRate {
    font-size: 20px !important;
}