
body{
    background-image: url(../images/landingPageBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#specialtyContainer {
    height: 290px;
    width: 500px;
    border-radius: 20px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    border: 5px solid #896241
    
}

#monsterPic {
    background: rgba(11, 20, 34, 0.76);
}

#rates{
    background-image: url(../images/scoreaboardBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
    display: grid;
    grid-template-rows: 1fr 80px 1fr;
}

#rates div{
    border-bottom: 2px solid #896241
}